body {
  background-color: black;
  font-size: 26px;
}
p {
  color: orange;
}

.App {
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 500px;
  width: 600px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.61);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
 .input{
  font-weight: bolder;
  text-align: center;
  margin-top: -50px;
  height: 25px;
  padding: 10px 10px 0 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

button {
  background-color: black;
  color: white;
  font-size: 20px;
  width: 80px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin: 10px 20px;
}
.text {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 10px 100px 40px 100px;
  letter-spacing: 3px;
  font-weight: bold;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
button:hover {
  color: orange;
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
}
